@charset "UTF-8";

.container {
	margin-left: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-weight: bold;
}
a {
	margin-left: 20px;
} 

.links {
	margin-left: -20px;
}

h3 {
	padding-top: 30px;
}